*.o
*.d
*.lst
*.scvd
*.out
*.uvgui*.*
~*

archive.zip

sources/generated/
sources/Device/Listings/
sources/Device/Objects/
sources/Device/Listings-Debug/
sources/Device/Objects-Debug/
sources/Device/DebugConfig/
sources/Device/RTE/

sources/Relay/Listings/
sources/Relay/Objects/
sources/Relay/Listings-Debug/
sources/Relay/Objects-Debug/
sources/Relay/DebugConfig/
sources/Relay/RTE/

